*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.container-fluid{
	background-color: grey;
	height: 500px;
	margin-top: 80px;
}

label{
	margin-top: 10px;
}

#button{
	margin-top: 15px;
}

#div1, #div2{
    width: 272.5px;
}

.col-sm-4.right{
	background-color: #eee;
	margin-top: 20px;
	width: 435px;
	margin-left: 14px;
	border-radius: 20px;
    padding-bottom: 44.5px;
}


.col-sm-4.right1{
	background-color: #eee;
	margin-top: 20px;
	width: 435px;
	margin-left: 14px;
	border-radius: 20px;
    padding-bottom: 156px;
}

.col-sm-4.left{
	margin-top: 20px;
	background-color: #eee;
	width: 435px;
	margin-left: 14px;
	border-radius: 20px;
}

.container-fluid:first-child{
    height: 110px;
    margin-bottom: -70px;
    margin-top: 20px;
}

div h1{
	text-align: center;
}

#header{
	float: right;
}

#github{
    font-size: 20px;
    color: #333;
    text-decoration: none;
   	margin-top: 5px;
    float: right;
    margin-left: -145px;
}

#github:hover{
    color: #999;
    text-decoration: none;
}